# Make Entity#setSharedFlag callable from outside the class so we can
# externally clear the FALL_FLYING flag (index 7) on a player who's
# trying to glide with a non-mechanical elytra.
public net.minecraft.world.entity.Entity setSharedFlag(IZ)V
